.container {
    width: 1200px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

header .left {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header ul a {
    text-decoration: none;
    color: rgba(158, 154, 168, 1);
}

header img {
    height: 100%;
}

header .signup {
    background: rgba(43, 208, 208, 1);
    color: white;
    border-radius: 15px;
    padding: 13px;
}

.intro .container {
    height: 740px;
    display: flex;
}

.intro .left h1 {
    font-size: 80px;
    margin-bottom: 0;
}

.intro .left p {
    color: rgba(158, 154, 168, 1);
    font-size: 22px;
}

.intro .left a {
    text-decoration: none;
    background: rgba(43, 208, 208, 1);
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
}

.intro .right img{
  position: absolute; right: -10px; top: 100px;
}

.path{
    background: rgb(107, 37, 37);
    text-align: center;
    padding: 100px;
    padding-top: 100px;
}

.path .container form {
    background-color: rgba(58, 48, 84, 1);
    width: 1100px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 15px;
    position: absolute; top: 700px; right: 150px;
}

.path .container h2{
    color: white;
    font-size: 40px;
}

.path .container a{
    text-decoration: none;
    background: rgba(43, 208, 208, 1);
    color: white;
    padding: 20px 50px;
    border-radius: 30px;
}

.path .container form input {
    width: 700px;
    padding: 20px;
    color: rgba(52, 49, 61, 1);
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 30px;
}

.path .container form button{
    padding: 22px;
    border: none;
    border-radius: 10px;
    background: rgba(43, 208, 208, 1);
    width: 170px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer  ul i{
    color: white;
    padding: 10px;
}

footer {
    background-color: black;
    padding: 20px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container img {
    height: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px; 
}

footer ul a {
    text-decoration: none;
    color: white;
}

footer .ul2 {
    list-style: none;
    position: absolute;
    left: 300px;
    top: 1160px;
}

footer .ul2 a {
    text-decoration: none;
    color: white;
}